[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
Pillow = "*"
WeasyPrint = "*"
aiohttp = "*"
arrow = "*"
celery = "*"
django-allauth = "*"
django-auditlog = "*"
django-auth-ldap = "*"
django-celery-beat = "*"
django-celery-results = "*"
django-environ = "*"
django-extensions = "*"
django-filter = "*"
django-hijack = "*"
django-model-utils = "*"
django-post_office = "*"
django-weasyprint = "*"
django-widget-tweaks = "*"
djangorestframework = "*"
gunicorn = "*"
hiredis = "*"
invoke = "*"
psycopg2-binary = "*"
pyinvoke = "*"
redis = "*"

[dev-packages]
autopep8 = "*"
bpython = "*"
django-debug-toolbar = "*"
flake8 = "*"
isort = "*"

[requires]
python_version = "3.11"
