{% extends 'app.html' %}{% load static %}

{% block conteudo %}
<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-header has-background-grey-dark">
        <p class="card-header-title has-text-light">Plano Individual ({{ plano.ano_referencia }}) - {{ plano.nome }} ({{ plano.siape }})</p>
      </div>

      <div class="card-content">
        <div class="content">
          <table class="table is-bordered is-hovered">
            <tbody>
              <tr>
                <td class="has-text-weight-bold">Código do Plano</td>
                <td>{{ plano.pk }}</td>
              </tr>
              <tr>
                <td class="has-text-weight-bold">Matrícula</td>
                <td>{{ plano.siape }}</td>
              </tr>
              <tr>
                <td class="has-text-weight-bold">CPF</td>
                <td>{{ plano.cpf }}</td>
              </tr>
              <tr>
                <td class="has-text-weight-bold">Nome do Participante</td>
                <td>{{ plano.nome }}</td>
              </tr>
              <tr>
                <td class="has-text-weight-bold">Unidade</td>
                <td>{{ plano.unidade_localizacao.nome }} ({{ plano.unidade_localizacao.codigo }})</td>
              </tr>
              <tr>
                <td class="has-text-weight-bold">Modalidade de Execução</td>
                <td>{{ plano.modelo_trabalho }}</td>
              </tr>
              <tr>
                <td class="has-text-weight-bold">Carga horária semanal</td>
                <td>{{ plano.carga_horaria }} hora(s)</td>
              </tr>
              <tr>
                <td class="has-text-weight-bold">Início do plano</td>
                <td>{{ plano.data_inicio|date:"d/m/Y" }}</td>
              </tr>
              <tr>
                <td class="has-text-weight-bold">Fim do plano</td>
                <td>{{ plano.data_fim|date:"d/m/Y" }}</td>
              </tr>
              <tr>
                <td class="has-text-weight-bold">Carga horária total</td>
                <td>{{ plano.carga_horaria_total }} hora(s)</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-header has-background-grey-dark">
        <p class="card-header-title has-text-light">Andamento das entregas</p>
      </div>

      <div class="card-content">
        <div id="chart" class="flot-chart" style="height: 700px"></div>
      </div>
    </div>
  </div>
  </div>
</div>
{% endblock conteudo %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'libs/flot-charts/jquery.flot.js' %}"></script>
  <script src="{% static 'libs/flot-charts/jquery.flot.categories.js' %}"></script>
  <script src="{% static 'libs/flot-charts/jquery.flot.canvas.js' %}"></script>
  <script src="{% static 'libs/flot-charts/jquery.flot.stack.js' %}"></script>
  <script src="{% static 'libs/flot-charts/jquery.flot.navigate.js' %}"></script>
  <script src="{% static 'libs/jquery.flot.tooltip/js/jquery.flot.tooltip.min.js' %}"></script>
  <script>
    $(function() {
      var plot = $.plot($("#chart"), [{
        data: {{ data|safe }},
        label: 'Total de subtarefas X Entrega',
        color: '#0056c1'
      }], {
        series: {
          stack: 0,
          bars: {
            show: true,
            barWidth: 0.2
          }
        },
        zoom: {
          interactive: true,
          active: true,
          amount: 1.5,         // 2 = 200% (zoom in), 0.5 = 50% (zoom out)
          enableTouch: true
        },
        pan: {
          interactive: true,
          active: true,
          cursor: "move",     // CSS mouse cursor value used when dragging, e.g. "pointer"
          frameRate: 60,
          mode: "smart",       // enable smart pan mode
          enableTouch: true,
          touchMode: ""
        },
        colors: ['#e3eaef','#3bafda','#1abc9c'],
        tooltip: {
          show: true,
          content : 'Total de subtarefas: %y',
          shifts : {
            x : 35,
            y : 5
          },
          defaultTheme : false
        },
        grid : {
          hoverable : true,
          clickable : true,
          borderColor : 'rgba(65, 80, 95, 0.07)',
          borderWidth : 1,
          labelMargin : 10
        },
        legend : {
          position: "ne",
          margin : [0, -25],
          noColumns : 0,
          labelBoxBorderColor : null,
          labelFormatter : function(label, series) {
            return '' + label + '&nbsp;&nbsp;';
          },
          width : 30,
          height : 2
        },
        yaxis : {
          tickColor : 'rgba(65, 80, 95, 0.07)',
          color : '#8391a2',
          tickDecimals: 0,
          tickSize: 1
        },
        xaxis : {
          show : true,
          tickColor : 'rgba(65, 80, 95, 0.07)',
          color : '#8391a2',
          mode: 'categories'
        }
      });
    })
  </script>
{% endblock scripts %}
