{% extends 'app.html' %}{% load widget_tweaks %}

{% block conteudo %}
<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-header has-background-grey-dark">
        <p class="card-header-title has-text-light">Filtros</p>
      </div>

      <div class="card-content">
        <div class="content">
          <p>Os campos abaixo são os filtros utilizados na busca. Um campo em branco não é adicionado na filtragem de registros.</p>
          <form action="" novalidate>
            <div class="columns">
              <div class="column">
                <div class="field">
                  <label class="label">Nome</label>
                  <div class="control">
                    {% render_field filter.form.nome class="input" %}
                  </div>
                </div>
              </div>

              <div class="column">
                <div class="field">
                  <label class="label">Siape</label>
                  <div class="control">
                    {% render_field filter.form.siape class="input" %}
                  </div>
                </div>
              </div>

              <div class="column">
                <div class="field">
                  <label class="label">&nbsp;</label>
                  <div class="control">
                    <button class="button is-primary has-icon">
                      <span class="icon"><i class="fa-solid fa-magnifying-glass"></i></span> <span>Buscar</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-header has-background-grey-dark">
        <p class="card-header-title has-text-light">Relatório de Planos Individuais</p>
      </div>

      <div class="card-content">
        <div class="content">
          <h4>Total de Planos: {{ paginator.count }}</h4>
          <hr>

          <table class="table is-striped is-bordered is-hoverable is-narrow">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Siape</th>
                <th>Unidade</th>
                <th>Ano Referência</th>
                <th>Intervalo</th>
                <th>Ações</th>
              </tr>
            </thead>
  
  
            <tbody>
              {% for plano in planos %}
                <tr>
                  <td>{{ plano.nome }}</td>
                  <td>{{ plano.siape }}</td>
                  <td>{{ plano.unidade_localizacao }}</td>
                  <td>{{ plano.ano_referencia }}</td>
                  <td>{{ plano.data_inicio|date:"d/m/yy" }} - {{ plano.data_fim|date:"d/m/yy" }}</td>
                  <td class="has-text-centered">
                    <a class="button is-primary is-small has-icon" href="{% url 'polare:quantitativo_detalhe' plano.pk %}" title="Visualizar">
                      <span class="icon is-small"><i class="fa-solid fa-magnifying-glass"></i></span>
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          {% include '_includes/paginador.html' %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock conteudo %}

{% block scripts %}
  {{ block.super }}
  <script>
    $(function() {
      setTimeout(function() {
        $('#id_nome').select();
      }, 500);
    })
  </script>
{% endblock scripts %}
