<div class="left-side-menu">{% load static %}
  <div class="logo-box">
    <a href="{% url 'polare:home' %}" class="logo logo-light text-center">
      <span class="logo-sm">
        <img src="{% static 'app/images/logo-sm.png' %}" alt="" height="24">
      </span>
      <span class="logo-lg">
        <img src="{% static 'images/logo-ifpa2.png' %}" alt="" style="width: 80%" class="mb-1">
      </span>
    </a>
  </div>

  <div class="h-100" data-simplebar>

    <!-- User box -->
    <div class="user-box text-center">
      <img src="{{ user.gravatar_url }}" alt="user-img" title="Mat Helme"
        class="rounded-circle avatar-md">
      <div class="dropdown">
        <a href="#" class="text-reset dropdown-toggle h5 mt-2 mb-1 d-block" data-bs-toggle="dropdown">{{ user.nome_completo }}</a>
        <div class="dropdown-menu user-pro-dropdown">

          <!-- item-->
          <a href="javascript:void(0);" class="dropdown-item notify-item">
            <i class="fe-user me-1"></i>
            <span>My Account</span>
          </a>

          <!-- item-->
          <a href="javascript:void(0);" class="dropdown-item notify-item">
            <i class="fe-settings me-1"></i>
            <span>Settings</span>
          </a>

          <!-- item-->
          <a href="javascript:void(0);" class="dropdown-item notify-item">
            <i class="fe-lock me-1"></i>
            <span>Lock Screen</span>
          </a>

          <!-- item-->
          <a href="javascript:void(0);" class="dropdown-item notify-item">
            <i class="fe-log-out me-1"></i>
            <span>Logout</span>
          </a>

        </div>
      </div>
      <p class="text-reset">Admin Head</p>
    </div>

    <!--- Sidemenu -->
    <div id="sidebar-menu">

      <ul id="side-menu">

        <li class="menu-title">Relatórios</li>
        <li>
          <a href="#sidebarDashboards" data-bs-toggle="collapse" class="waves-effect">
            <i class="mdi mdi-poll"></i>
            <span> Quantitativo </span>
          </a>
          <div class="collapse" id="sidebarDashboards">
            <ul class="nav-second-level">
              <li>
                <a href="{% url 'polare:quantitativo_geral' %}">Geral</a>
              </li>
            </ul>
          </div>
        </li>

        {% comment "" %}
        <li>
          <a href="#sidebarLayouts" data-bs-toggle="collapse" aria-expanded="false" aria-controls="sidebarLayouts">
            <i class="mdi mdi-cellphone-link"></i>
            <span> Layouts </span>
            <span class="menu-arrow"></span>
          </a>
          <div class="collapse" id="sidebarLayouts">
            <ul class="nav-second-level">
              <li>
                <a href="layouts-horizontal.html">Horizontal</a>
              </li>
              <li>
                <a href="layouts-detached.html">Detached</a>
              </li>
              <li>
                <a href="layouts-two-column.html">Two Column Menu</a>
              </li>
              <li>
                <a href="layouts-preloader.html">Preloader</a>
              </li>
            </ul>
          </div>
        </li>

        <li class="menu-title mt-2">Apps</li>

        <li>
          <a href="apps-chat.html">
            <i class="mdi mdi-forum-outline"></i>
            <span> Chat </span>
          </a>
        </li>

        <li>
          <a href="#sidebarEcommerce" data-bs-toggle="collapse" aria-expanded="false"
            aria-controls="sidebarEcommerce">
            <i class="mdi mdi-cart-outline"></i>
            <span class="badge bg-danger float-end">New</span>
            <span> Ecommerce </span>
          </a>
          <div class="collapse" id="sidebarEcommerce">
            <ul class="nav-second-level">
              <li>
                <a href="ecommerce-products.html">Products List</a>
              </li>
              <li>
                <a href="ecommerce-products-grid.html">Products Grid</a>
              </li>
              <li>
                <a href="ecommerce-product-detail.html">Product Detail</a>
              </li>
              <li>
                <a href="ecommerce-product-create.html">Create Product</a>
              </li>
              <li>
                <a href="ecommerce-customers.html">Customers</a>
              </li>
              <li>
                <a href="ecommerce-orders.html">Orders</a>
              </li>
              <li>
                <a href="ecommerce-orders-detail.html">Order Detail</a>
              </li>
              <li>
                <a href="ecommerce-sellers.html">Sellers</a>
              </li>
              <li>
                <a href="ecommerce-cart.html">Shopping Cart</a>
              </li>
              <li>
                <a href="ecommerce-checkout.html">Checkout</a>
              </li>
            </ul>
          </div>
        </li>

        <li>
          <a href="apps-calendar.html">
            <i class="mdi mdi-calendar"></i>
            <span> Calendar </span>
          </a>
        </li>

        <li>
          <a href="#sidebarEmail" data-bs-toggle="collapse" aria-expanded="false" aria-controls="sidebarEmail">
            <i class="mdi mdi-email-outline"></i>
            <span> Email </span>
            <span class="menu-arrow"></span>
          </a>
          <div class="collapse" id="sidebarEmail">
            <ul class="nav-second-level">
              <li>
                <a href="email-inbox.html">Inbox</a>
              </li>
              <li>
                <a href="email-read.html">Read Email</a>
              </li>
              <li>
                <a href="email-templates.html">Email Templates</a>
              </li>
            </ul>
          </div>
        </li>

        <li>
          <a href="apps-companies.html">
            <i class="mdi mdi-domain"></i>
            <span> Companies </span>
          </a>
        </li>

        <li>
          <a href="#sidebarTasks" data-bs-toggle="collapse" aria-expanded="false" aria-controls="sidebarTasks">
            <i class="mdi mdi-briefcase-check-outline"></i>
            <span> Tasks </span>
            <span class="menu-arrow"></span>
          </a>
          <div class="collapse" id="sidebarTasks">
            <ul class="nav-second-level">
              <li>
                <a href="task-list.html">List</a>
              </li>
              <li>
                <a href="task-details.html">Details</a>
              </li>
              <li>
                <a href="task-kanban-board.html">Kanban Board</a>
              </li>
            </ul>
          </div>
        </li>

        <li>
          <a href="apps-tickets.html">
            <i class="mdi mdi-lifebuoy"></i>
            <span> Tickets </span>
          </a>
        </li>

        <li>
          <a href="#sidebarContacts" data-bs-toggle="collapse" aria-expanded="false"
            aria-controls="sidebarContacts">
            <i class="mdi mdi-book-account-outline"></i>
            <span> Contacts </span>
            <span class="menu-arrow"></span>
          </a>
          <div class="collapse" id="sidebarContacts">
            <ul class="nav-second-level">
              <li>
                <a href="contacts-list.html">Members List</a>
              </li>
              <li>
                <a href="contacts-profile.html">Profile</a>
              </li>
            </ul>
          </div>
        </li>

        <li>
          <a href="apps-file-manager.html">
            <i class="mdi mdi-folder-star-outline"></i>
            <span> File Manager </span>
          </a>
        </li>
      </ul>{% endcomment %}

    </div>

    <div class="clearfix"></div>

  </div>
</div>
