{% extends 'app.html' %}

{% block conteudo %}
<div class="columns">
  <div class="column">
    <div class="card has-text-centered">
      <div class="card-header has-background-grey-dark">
        <p class="card-header-title has-text-light" style="display: block">Total de Planos Individuais</p>
      </div>

      <div class="card-content">
        <div class="content">
          <h3>Ano referência 2022</h3>
          <h4>{{ total_planos_2022 }}</h4>

          <h3>Ano referência 2023</h3>
          <h4>{{ total_planos_2023 }}</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card has-text-centered">
      <div class="card-header has-background-grey-dark">
        <p class="card-header-title has-text-light" style="display: block">Total de Entregas</p>
      </div>

      <div class="card-content">
        <div class="content">
          <h3>Ano referência 2022</h3>
          <h4>{{ total_entregas_2022 }}</h4>

          <h3>Ano referência 2023</h3>
          <h4>{{ total_entregas_2023 }}</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card has-text-centered">
      <div class="card-header has-background-grey-dark">
        <p class="card-header-title has-text-light" style="display: block">Total de Subtarefas</p>
      </div>

      <div class="card-content">
        <div class="content">
          <h3>Ano referência 2022</h3>
          <h4>{{ total_subtarefas_2022 }}</h4>

          <h3>Ano referência 2023</h3>
          <h4>{{ total_subtarefas_2023 }}</h4>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock conteudo %}
